.booking-container{
    height: 450px;
    width:450px;
    background-color:whitesmoke;
    margin-left: 36%;
    color:black;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}
.form{
    margin-left:28px;
    margin-top:20px;
}
.input{
   width:50px;
}
.nav-text{
   
    color:white;
    font-size:20px;
    text-shadow: 2px 2px 2px red;
}
.nav-text:hover{
    color:deeppink;
    text-shadow: 2px 2px 2px white;
}
.form-text{
    color:black;
    text-shadow: 2px 2px 2px red;
    font-size:20px;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Grenze Gotisch', cursive;
}
